- form! [@form, @submission], :as => :submission, :url => @submission.admin_path

- tab :submission do
  - @form.fields.each do |field|
    = render_field(field)
  
- sidebar do
  .buttons
    = link_to "Back to list", @form, :class => 'primary'
  
  %hr
  
  %p.owner Submitted: #{timestamp(@submission.created_at)}

- content_for(:head) do
  = stylesheet_link_tag "wheelhouse-forms/admin"
