@charset "UTF-8";
#fields label {
  display: inline; }
#fields input[type=text] {
  width: 40%; }
#fields select {
  margin: 0.4em 0;
  padding: 0.5% 0.2% 0.2% 0.2%;
  font-size: 110%; }
#fields input, #fields select {
  font-size: 100%; }
  #fields input.placeholder, #fields select.placeholder {
    color: #cccccc; }
#fields label {
  color: #545454;
  font-weight: bold;
  margin-right: 0.5em; }
  #fields label.required {
    float: right;
    margin: 0.5em 0;
    margin-right: 15%;
    font-weight: normal;
    font-size: 95%; }
    #fields label.required input {
      margin-right: 4px; }
#fields span.note {
  font-size: 95%;
  color: #a9a9a9; }
#fields .field-set {
  position: relative;
  margin: 10px 0;
  padding: 10px 10px 10px 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #fdfefe;
  border: 1px solid #cccccc; }
  #fields .field-set .placeholder, #fields .field-set .text-field, #fields .field-set .text-area, #fields .field-set .select-field, #fields .field-set .checkbox, #fields .field-set .states-dropdown, #fields .field-set .countries-dropdown, #fields .field-set .radio-buttons, #fields .field-set .checkboxes, #fields .field-set .custom-field, #fields .field-set .content-field {
    margin-left: 0;
    margin-right: 0; }
#fields .text-field, #fields .text-area, #fields .select-field, #fields .checkbox, #fields .states-dropdown, #fields .countries-dropdown, #fields .radio-buttons, #fields .checkboxes, #fields .custom-field, #fields .content-field {
  position: relative;
  margin: 10px 0;
  padding: 10px 10px 10px 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  min-height: 26px;
  padding: 6px 6px 6px 38px; }
  #fields .text-field input[type=text], #fields .text-area input[type=text], #fields .select-field input[type=text], #fields .checkbox input[type=text], #fields .states-dropdown input[type=text], #fields .countries-dropdown input[type=text], #fields .radio-buttons input[type=text], #fields .checkboxes input[type=text], #fields .custom-field input[type=text], #fields .content-field input[type=text] {
    width: 50%; }
  #fields .text-field select, #fields .text-area select, #fields .select-field select, #fields .checkbox select, #fields .states-dropdown select, #fields .countries-dropdown select, #fields .radio-buttons select, #fields .checkboxes select, #fields .custom-field select, #fields .content-field select {
    width: 52%; }
  #fields .text-field .drag, #fields .text-area .drag, #fields .select-field .drag, #fields .checkbox .drag, #fields .states-dropdown .drag, #fields .countries-dropdown .drag, #fields .radio-buttons .drag, #fields .checkboxes .drag, #fields .custom-field .drag, #fields .content-field .drag {
    width: 24px; }
  #fields .text-field a.delete, #fields .text-area a.delete, #fields .select-field a.delete, #fields .checkbox a.delete, #fields .states-dropdown a.delete, #fields .countries-dropdown a.delete, #fields .radio-buttons a.delete, #fields .checkboxes a.delete, #fields .custom-field a.delete, #fields .content-field a.delete {
    top: 12px;
    right: 8px; }
#fields .text-field, #fields .text-area, #fields .content-field {
  background: #f3f7fa;
  border: 1px solid #cbd4da; }
  #fields .text-field label, #fields .text-area label, #fields .content-field label {
    color: #76828a; }
  #fields .text-field .drag, #fields .text-area .drag, #fields .content-field .drag {
    border-right: 1px solid #cbd4da; }
#fields .checkbox, #fields .radio-buttons, #fields .checkboxes {
  background: #faf8f0;
  border: 1px solid #e1ddc8; }
  #fields .checkbox label, #fields .radio-buttons label, #fields .checkboxes label {
    color: #8c8977; }
  #fields .checkbox .drag, #fields .radio-buttons .drag, #fields .checkboxes .drag {
    border-right: 1px solid #e1ddc8; }
#fields .select-field, #fields .states-dropdown, #fields .countries-dropdown {
  background: #f3f8f4;
  border: 1px solid #d3dbd2; }
  #fields .select-field label, #fields .states-dropdown label, #fields .countries-dropdown label {
    color: #748572; }
  #fields .select-field .drag, #fields .states-dropdown .drag, #fields .countries-dropdown .drag {
    border-right: 1px solid #d3dbd2; }
#fields .custom-field {
  background: #fdfafd;
  border: 1px solid #e3d2e3; }
  #fields .custom-field label {
    color: #987898; }
  #fields .custom-field .drag {
    border-right: 1px solid #e3d2e3; }
#fields .drag-placeholder {
  position: relative;
  margin: 10px 0;
  padding: 10px 10px 10px 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px dashed #cccccc;
  padding: 6px 6px 6px 38px; }
#fields .custom-field input[type=text] {
  width: 40%; }
#fields ul.options {
  line-height: 2.6em;
  min-height: 2em;
  margin-top: 0.5em; }
  #fields ul.options li {
    display: inline; }
    #fields ul.options li input[type=text] {
      width: auto;
      min-width: 8em; }
#fields .drag {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  width: 7px;
  height: 100%;
  background: url(/assets/admin/images/backgrounds/drag.png) repeat;
  border-right: 1px solid #dfdfdf;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }
  #fields .drag img {
    margin: 12px 4px; }
#fields .fields {
  min-height: 100px; }
#fields a.delete {
  position: absolute;
  right: 14px;
  top: 16px;
  z-index: 99;
  width: 16px;
  height: 16px;
  background: url(/assets/admin/images/icons/delete-item.png) no-repeat;
  text-indent: -9999px;
  opacity: 0.5; }
  #fields a.delete:hover {
    opacity: 1; }

.tools li a {
  padding-left: 45px;
  background-position: 17px center; }
  .tools li a:hover {
    background-color: #d3dadf; }
.tools li.text-field a {
  background-image: url(../images/text-field.png); }
.tools li.text-area a {
  background-image: url(../images/text-area.png); }
.tools li.select-field a {
  background-image: url(../images/select.png); }
.tools li.checkbox a {
  background-image: url(../images/checkbox.png); }
.tools li.checkboxes a {
  background-image: url(../images/checkboxes.png); }
.tools li.radio-buttons a {
  background-image: url(../images/radio-buttons.png); }
.tools li.field-set a {
  background-image: url(../images/field-set.png); }
.tools li.states-dropdown a {
  background-image: url(../images/states.png); }
.tools li.countries-dropdown a {
  background-image: url(../images/countries.png); }
.tools li.content-field a {
  background-image: url(../images/content.png); }
.tools li.custom-field a {
  background-image: url(../images/custom.png); }

p.export-csv {
  margin: 2em 0;
  text-align: center;
  font-size: 110%; }
  p.export-csv a {
    background: url(../images/csv.png) no-repeat 8px;
    padding: 10px 8px 10px 32px;
    color: #4991b3;
    text-decoration: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; }
    p.export-csv a:hover {
      background-color: #f1ecc8;
      border: 1px solid #c4c0a3;
      padding: 9px 7px 9px 31px;
      background-position: 7px;
      color: #696757; }

.field ul {
  list-style: disc inside;
  margin-left: 1%; }
  .field ul li {
    margin-bottom: 0.2em; }
  .field ul input {
    width: 93%; }

.shaded h2 {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 5px;
  margin-right: 6%; }
.shaded .inline input {
  margin-right: 1em; }
