!!!

%html
  %head
  
  %body
    %p= link_to "View this submission online", @submission.admin_url
    
    %p
      %strong Submitted at:
      = @submission.created_at.to_s(:long)
    
    - @form.fields.each do |field|
      = render_field(field)
      