- @submissions = @form.submissions.paginate(:page => params[:p])

%h2 Latest Submissions

= table_for @submissions do |t, submission|
  - t.resource submission
  
  - if @form.first_content_field
    - t.column(@form.first_content_field.label) { submission.value_for(@form.first_content_field) }
    
  - t.column(:submitted_at) { submission.created_at.in_time_zone.to_s(:long) }
  
  - t.controls do |controls|
    - controls.delete

= will_paginate @submissions
